body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1313;;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: right;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    font-size: 1.5em;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}

.btn:active {
    background-color: #ddd;
}

.btn:nth-child(4n) {
    background-color: #f9b43f;
    color: white;
}

.btn:nth-child(4n):active {
    background-color: #f39c12;
}
